@page
@model InaBeauty.Pages.Servicii.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Serviciu[0].Denumire)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Serviciu[0].Descriere)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Serviciu[0].Durata)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Serviciu[0].Pret)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Serviciu) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Denumire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descriere)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Durata)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pret)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ServiciuID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ServiciuID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ServiciuID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
